<h3>Nova solicitação</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="solicitation.name" name="name" placeholder="Digite seu nome">
    </div>

    <div class="form-group">
        <label for="name">Descrição</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="solicitation.description" name="description" placeholder="Digite a descrição do item">
    </div>

    <div class="form-group">
        <label for="name">Preço</label>
        <input type="text" class="form-control" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  id="price" required [(ngModel)]="solicitation.price" name="price" placeholder="R$ 0,00">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Solicitação enviada!</h4>
  <button class="btn btn-success" (click)="newSolicitation()">Nova Solicitação</button>
</div>
