<div>
    <form (ngSubmit)="f.form.valid && updateSolicitation()" #f="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" readonly required [(ngModel)]="solicitationToEdit.name" name="name">
      </div>

      <div class="form-group">
        <label for="name">Descrição</label>
        <input type="text" class="form-control" id="description" readonly required [(ngModel)]="solicitationToEdit.description" name="description">
    </div>

    <div class="form-group">
        <label for="name">Preço</label>
        <input type="number" class="form-control" id="price" step="0.01" readonly required [(ngModel)]="solicitationToEdit.price" name="price">
    </div>

    <div class="form-group">
        <label for="name">Observação</label>
        <input type="text" class="form-control" id="observation" required [(ngModel)]="solicitationToEdit.observation" name="observation" #obs="ngModel">
        <div *ngIf="f.submitted && obs.invalid" class="alert alert-danger">
          <div *ngIf="obs.errors.required">O campo "Observação" é obrigatório. </div>
        </div>
    </div>

    <div class="form-group">
      <label for="name">Situação</label>
      <select class="form-control" (change)="changeOption($event.target.value)">
        <option value="APROVADO">Aprovada</option>
        <option value="REJEITADO">Rejeitada</option>
      </select>
    </div>
      <span [hidden]="!pendingStatus(solicitationToEdit.status)"><button type="submit" class="btn btn-success commandButtons float-right">Salvar</button></span>
      <button (click)="closeEdit()" class="btn btn-danger float-right commandButtons">Cancelar</button>
    </form>
  </div>
