<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Solicitation List</h2>
      <button (click)="reloadData()" class="btn btn-info">Refresh</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>description</th>
            <th>price</th>
            <th>status</th>
            <th>observation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitation of solicitations | async">
            <td>{{solicitation.name}}</td>
            <td>{{solicitation.description}}</td>
            <td>{{solicitation.price}}</td>
            <td>{{solicitation.status}}</td>
            <td>{{solicitation.observation}}</td>
            <td><button (click)="updateSolicitation(solicitation, true)" class="btn btn-info">Approve</button>
                <button (click)="updateSolicitation(solicitation, false)" class="btn btn-danger" style="margin-left: 10px">Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>