<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Solicitation List</h2>
      <button (click)="reloadData()" class="btn btn-info">All</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Observation</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitation of solicitations | async" (click)="selectToEdit(solicitation)">
            <td>{{solicitation.name}}</td>
            <td>{{solicitation.description}}</td>
            <td>{{solicitation.price}}</td>
            <td>{{solicitation.observation}}</td>
            <td>
              <a routerLink="approval/{{solicitation.id}}" [hidden]="!pendingStatus(solicitation.status)"><button type="button" class="btn btn-primary">Avaliar</button></a>
              <span [hidden]="pendingStatus(solicitation.status)">{{solicitation.status}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
