<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de solicitações</h2>
      <button (click)="reloadData()" class="btn btn-info">Todas</button>
      <button (click)="getPendingList()" class="btn btn-primary">Pendentes</button>
      <button (click)="getApprovedList()" class="btn btn-success">Aprovadas</button>
      <button (click)="getRejectedList()" class="btn btn-danger">Rejeitadas</button>
      <input type="text" class="form-control filter-option" [(ngModel)]="nameToSearch" (ngModelChange)="getSolicitationsByName()" placeholder="Nome">
      <input type="text" class="form-control filter-option" [(ngModel)]="descToSearch" (ngModelChange)="getSolicitationsByDesc()" placeholder="Descrição">
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Observação</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitation of solicitations | async">
            <td>{{solicitation.name}}</td>
            <td>{{solicitation.description}}</td>
            <td>{{solicitation.price | currency: 'R$ '}}</td>
            <td>{{solicitation.observation}}</td>
            <td>
              <a routerLink="approve/{{solicitation.id}}" [hidden]="!pendingStatus(solicitation.status)"><button type="button" class="btn btn-primary">Aceitar/Rejeitar</button></a>
              <span [hidden]="pendingStatus(solicitation.status)">{{solicitation.status}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
